---
import Layout from "../layouts/Layout.astro";
import TitleCard from "../components/TitleCard.astro";
import InfoCard from "../components/InfoCard.astro";
import SkillCard from "../components/SkillCard.astro";
import InProgress from "../components/InProgress.astro";
---

<Layout title="Portfolio Website">
  <main class="bg-zinc-900 min-h-screen">

    <div class="relative">
      <div class="absolute bg-black w-full h-full"></div>
      <div class="absolute w-full h-full">
        <canvas id="matrix"></canvas>
      </div>

      <section class="container mx-auto py-10 md:p-8 mb-20">
        <div class="relative pb-12">
          <div class="flex items-center py-8">
            <div class="w-full h-fit lg:w-1/2 lg:pl-8 lg:pr-60">
              <h1 class="text-white text-center lg:text-start text-5xl font-extrabold">Desenvolvedor 
                <span class="text-lime-600">Frontend</span>, entusiasta por 
                <span class="text-lime-600"> Tecnologia</span>!
              </h1>
            </div>

            <div class="w-1/2 hidden lg:flex flex-col items-end gap-4 px-8">
              <TitleCard title="Saudações!">
                <img src="/emojis/hand-emoji.svg" alt="hand-emoji">
              </TitleCard>
        
              <div class="text-white text-right max-w-[600px]">
                <span class="font-bold">
                  Olá, é um prazer ter você por aqui! Meu nome é João Mário, e esse é um website criado 
                  com o objetivo de registrar e documentar meu crescimento profissional como desenvolvedor web.
                </span>
                <br>
                <span class="font-bold">
                  Aqui você encontrará descrições das tecnologias que domino, além de documentações de projetos, 
                  que em sua maioria são voltados para desenvolvimento web!
                </span>
        
              </div>
            </div>

            <div class="w-full flex justify-center absolute bottom-[-100px]">
              <InfoCard/>
            </div>
          </div>
        </div>
      </section>
    </div>

    <section class="lg:hidden flex container mx-auto p-8">
      <div class="flex flex-col items-start gap-4">
        <TitleCard title="Saudações!">
          <img src="/emojis/hand-emoji.svg" alt="hand-emoji">
        </TitleCard>
  
        <div class="text-white text-left max-w-[600px]">
          <span>
            Olá, é um prazer ter você por aqui! Meu nome é João Mário, e esse é um website criado 
            com o objetivo de registrar e documentar meu crescimento profissional como desenvolvedor web.
          </span>
          <br>
          <span>
            Aqui você encontrará descrições das tecnologias que domino, além de documentações de projetos, 
            que em sua maioria são voltados para desenvolvimento web!
          </span>
  
        </div>
      </div>
    </section>


    <section class="container mx-auto p-8">
      <div class="flex flex-col items-start gap-4">
        <TitleCard title="Tecnologias">
          <img src="/emojis/joy-stick-emoji.svg" alt="joy-stick-emoji">
        </TitleCard>

        <div class="w-full flex flex-col gap-4 
          md:grid md:grid-cols-2
          xl:grid xl:grid-cols-4
        ">

          <SkillCard 
            icons={
              [
                { path: "/icons/html-icon.svg", name: "html"},
                { path: "/icons/css-icon.svg", name: "css"}
              ]
            }
            text='“Não ergas alto um edifício sem fortes alicerces, se o fizeres viverás com medo”. Acredito fortemente que essa ideia é aplicável ao desenvolvimento web. É preciso domínio de tecnologias básicas antes de se aventurar com um novo framework... Por isso, me orgulho de dominar tecnologias como html5 e css3.'
          />

          <SkillCard 
            icons={
              [
                { path: "/icons/js-icon.svg", name: "js"},
                { path: "/icons/typescript-icon.svg", name: "typescript"}
              ]
            }
            text='Linguagens de programação são ferramentas extremamente poderosas, e pro contexto de desenvolvimento web JavaScript é indispensável. Tenho 2 anos de experiência com a linguagem e mais recentemente tenho utilizado Typescript devido às melhoras que ele proporciona na estruturação do código e prevenção de bugs. '

          />

          <SkillCard 
            icons={
              [
                { path: "/icons/vue-icon.svg", name: "vue"},
                { path: "/icons/react-icon.svg", name: "react"},
                { path: "/icons/astro-icon.svg", name: "astro"}
              ]
            }
            text='Já com relação a Frameworks voltados para o desenvolvimento frontend de forma geral, tenho 1 ano de experiência profissional com Vue.js. E em paralelo, estudo e utilizo frequentemente em projetos pessoais React.js e Astro. Todos são ferramentas incríveis que otimizam muito o processo de desenvolvimento.'
          />

          <SkillCard 
            icons={
              [
                { path: "/icons/bootstrap-icon.svg", name: "bootstrap"},
                { path: "/icons/tailwind-icon.svg", name: "tailwind"}
              ]
            }
            text='Praticidade na estilização de um interface pode facilitar muito o processo de desenvolvimento. E para isso, escolhi estudar os frameworks css Bootstrap e Tailwind.'
          />

        </div>
      </div>
    </section>

    <section class="container mx-auto p-8">
      <div class="flex items-center gap-4 pb-10"> 
        <TitleCard title="Projetos">
          <img src="/emojis/files-emoji.svg" alt="files-emoji">
        </TitleCard>
      </div>

      <div class="w-full flex justify-center">
        <InProgress/>
      </div>
    </section>
  </main>
</Layout>
