<div class="bg-black bg-opacity-60 border-violet-600 border-2 rounded-xl w-fit flex items-center gap-4 p-6">
  <div class="">
    <img src="https://avatars.githubusercontent.com/JoaoMario17" alt="profile-pic" class="w-[80px] rounded-2xl">
  </div>
  <div class="flex flex-col items-center">
    <div class="flex items-center">
      <span class="text-white text-lg font-medium">João Mário</span>
    </div>
    <div class="flex gap-2">
      <a class="w-[28px]" target="_blank" href="https://github.com/JoaoMario17">
        <img src="/icons/github-logo.svg" alt="github-logo">
      </a>
      <a class="w-[28px]" target="_blank" href="https://www.linkedin.com/in/jo%C3%A3o-m%C3%A1rio-fidelis/">
        <img src="/icons/linkedin-logo.svg" alt="linkedin-logo">
      </a>
      <a class="w-[28px]" target="_blank" href="https://twitter.com/JoaoMarioF1">
        <img src="/icons/twitter-logo.svg" alt="twitter-logo">
      </a>
    </div>
  </div>
</div>