---
export interface Props {
  title: string;
}

const { title } = Astro.props
---

<div class="bg-lime-600 bg-opacity-10 w-fit h-[30px] rounded-lg flex items-center p-4">
  <span class="text-lime-600 font-bold">{title}</span>
</div>

