---
export interface Props {
  title: string;
}

const { title } = Astro.props
---

<div class="bg-primary bg-opacity-10 w-fit h-[30px] rounded-lg flex items-center p-4">
  <span class="text-primary font-bold">{title}</span>
</div>

