---
import type { ImageMetadata } from 'astro';
import { Image } from 'astro:assets';

export interface Props {
  title: string
	imagePath: string
	altText: string
}

const { title, imagePath, altText } = Astro.props

const images = import.meta.glob<{ default: ImageMetadata }>('/src/assets/emojis/*.svg')

if (!images[imagePath]) {
	throw new Error(`Image not found: ${imagePath}`)
}
---

<div class="bg-primary bg-opacity-10 w-fit h-[60px] flex items-center justify-center gap-2 rounded-[20px] px-4">
  <div class="w-auto h-[25px]">
		<Image src={images[imagePath]()} alt={altText} />
  </div>
  <span class="text-primary text-2xl font-bold">{title}</span>
</div>

